<!DOCTYPE html>
<html>
  <head>
    <title>Shoren by nodejs</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/docs.css' />
	<script src="/javascripts/jquery-1.8.3.min.js"></script>
	<script type="text/javascript">
	  function postURL (){
	     $('#error').hide();
	     $('#success').hide();
	     var url = $('#url').val();
	     $('#url').val ('');
	     $.post ("/link/add", {'url':url}, function (resp){
	         if (resp.error){
	           $('#error').html(resp.error);
	           $('#error').show(0.5);
	         }else{
               $('#success').html("<a target='_blank' href='" + resp.result+ "'>" + resp.result + "</a>");
	           $('#success').show(0.5);
	         }
         });
	     return false;
	  }
	</script>
  </head>
  <body>
	<div class="container">
	  <form onsubmit="return false;">
		<fieldset>
		  <legend>Shorten</legend>
		  <label>URL</label>
		  <input name= "url" id= "url" type="text" class= "span8" placeholder="Type url...">
		  <button type="submit" class="btn" onclick='postURL();'>Submit</button>
		</fieldset>
	  </form>
	  <div id='error' class="alert alert-error" style='display:none'>
		<% if (locals.error){ %>
		<%= error %>
		<% } %>
	  </div>
	  <div class="alert alert-success" style='display:none' id='success'>
	  </div>
	</div>
	<script type="text/javascript">
	  <% if (locals.error) { %>
	  $('#error').show(0.5);
      <% } %>
	</script>
	 <footer class="footer">
      <div class="container">
		 <p>Powered by node.js and express.js</p>
		 <ul class="footer-links">
          <li><a href="http://nodejs.org">Node.js</a></li>
          <li class="muted">&middot;</li>
          <li><a href="http://expressjs.com">Express.js</a></li>
          <li class="muted">&middot;</li>
          <li><a href="https://github.com/killme2008/node-shorten">Node shorten</a></li>
        </ul>
	  </div>
    </footer>
	<div>
  </body>
</html>
